<footer>
  <div class="grid-container">
    <div class="grid-x align-spaced align-middle content-wrapper">
      <div class="cell medium-6">
        <a href="{{ site.baseurl }}/">
          {%- include logo.svg color="#000" location="footer"-%}
        </a>
      </div>
      <div class="cell medium-shrink social">
        <a href="mailto:{{site.ab-email}}?subject=AB Ambassadors" target="_blank">
          <i class="fab fas fa-envelope fa-2x"></i>
        </a>
        <a href="{{site.abambassadors-linkedin}}" target="_blank">
          <i class="fab fab fa-linkedin fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
