<header>
  <div class="header-backdrop">
    <!-- Photo by <a href="https://unsplash.com/@alfonsmc10?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alfons Morales</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
  
    <div class="grid-container">
      <div class="grid-x align-center align-middle">
        <div class="cell shrink">
          <a href="{{ site.baseurl }}/">
            {%- include logo.svg color="#fff" location="header"-%}
          </a>
          <h1 class="visually-hidden">AB Ambassadors</h1>
        </div>
      </div>
    </div>
  </div>
</header>
