name: Update Hospitality Talks Episodes

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Check out repo
        uses: actions/checkout@v4

      - name: Fetch YouTube RSS feed
        uses: githubocto/flat@v3
        with:
          http_url: 'https://www.youtube.com/feeds/videos.xml?channel_id=UCVBfsbg4K5sq6aPljJdWDBg'
          downloaded_filename: youtube-feed.xml
          postprocess: _scripts/process-youtube-feed.ts
